@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: bold;
    src: url('fonts/eot/iranyekanwebboldfanum.eot');
    src: url('fonts/eot/iranyekanwebboldfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/iranyekanwebboldfanum.html') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 100;
    src: url('fonts/eot/iranyekanwebthinfanum.eot');
    src: url('fonts/eot/iranyekanwebthinfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebthinfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/iranyekanwebthinfanum.html') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 300;
    src: url('fonts/eot/iranyekanweblightfanum.eot');
    src: url('fonts/eot/iranyekanweblightfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanweblightfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/eot/iranyekanwebregularfanum.eot');
    src: url('fonts/eot/iranyekanwebregularfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebregularfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('../fonts/ttf/iranyekanwebregularfanum.html') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 500;
    src: url('fonts/eot/iranyekanwebmediumfanum.eot');
    src: url('fonts/eot/iranyekanwebmediumfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebmediumfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 800;
    src: url('fonts/eot/iranyekanwebextraboldfanum.eot');
    src: url('fonts/eot/iranyekanwebextraboldfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 850;
    src: url('fonts/eot/iranyekanwebblackfanum.eot');
    src: url('fonts/eot/iranyekanwebblackfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebblackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
    font-family: iranyekan;
    font-style: normal;
    font-weight: 900;
    src: url('fonts/eot/iranyekanwebextrablackfanum.eot');
    src: url('fonts/eot/iranyekanwebextrablackfanumd41d.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}
body, h1, h2, h3, h4, h5, h6, a, .td-login-div, p, ul, li, input, div, .td-trending-now-title {

	font-family: iranyekan !important;
}
.td-pb-row [class*="td-pb-span"] {
    float: right;
}
.widget_categories li .td-cat-no, .widget_categories .td-widget-no {
    float: left;
    margin-left: 10px;
    margin-right: 0px;
}
.page-nav a, .page-nav span {
  float: right!important;
}
.tdb_header_menu .tdb-menu > li {
  float: right!important;
}
.page-nav .pages {
  float: left!important;
}
.td-module-comments {
  float: left!important;
}
.td-admin-edit {
  right: 0;
  left:auto;
}
.td-module-comments a:after {
    right: 0;
    border-width: 3px 0px 0 3px;
    left: auto;
}
.td-subcat-filter {
    left: 0;
    text-align: left;
    right: auto;
}
.td-subcat-filter .td-subcat-dropdown .td-subcat-more {
    margin-right: 15px;
    padding-right: 15px;
    margin-left: 0px;
    padding-left: 0px;
}
.td-subcat-filter .td-subcat-dropdown ul {
    left: 0;
    right: auto;
}
.td-subcat-filter .td-subcat-list .td-subcat-item {
    margin-right: 30px;
    margin-left: 0px;
}
.td-post-category {
    margin-left: 5px;
    margin-right: 0px;
}
.td-scroll-up {
    left: 5px;
    right: auto;
}
.comment .comment-content, .comment .comment-meta, .comment .comment-respond {
    margin-right: 56px;
    margin-left: 0px;
}
.comment .avatar {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}
.comment .children {
    margin-right: 70px;
    margin-left: 0px;
}
.td_block_template_8 .td-block-title > * {
    padding-left: 20px;
	padding-right:0px;
}
.tdm-btn .tdm-btn-icon:first-child {
    margin-right: 0;
}
#td-mobile-nav .td-menu-avatar {
    right: 20px;
	left:auto;
}
#td-mobile-nav .td-menu-logout {
    left: 20px;
    right: auto;
}
.td-menu-background {
    transform: translate3d(100%, 0, 0);
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
}
#td-mobile-nav {
    transform: translate3d(99%, 0, 0);
    -webkit-transform: translate3d(99%, 0, 0);
    -moz-transform: translate3d(99%, 0, 0);
    -ms-transform: translate3d(99%, 0, 0);
    -o-transform: translate3d(99%, 0, 0);
    right: -1%;
}
.sf-menu li {
    float: right!important;
}
.top-bar-style-1 .td-header-sp-top-widget {
    float: left;
}
.td-header-row [class*="td-header-sp"] {
    float: right;
}
.top-header-menu li a {
    margin-left: 16px;
    margin-right: 0px;
}
.top-header-menu li a {
    margin-left: 16px;
    margin-right: 4px;
}
.top-header-menu .td-icon-menu-down {
    padding-right: 6px;
    padding-left: 0px;
}
.top-header-menu .td-icon-logout {
    margin-left: 2px;
	padding-right: 0px;

}
.td-header-wrap .td-drop-down-search .btn {
    left: 20px;
	right:auto;
}

.td_module_15.post .td-post-comments {
    margin-right: 22px;
	margin-left: 0px;

}
.td_module_15 .td-icon-comments {
    margin-left: 5px;
    margin-right: 0px;
}
.td-post-author-name div {
    margin-right: 0px;
    margin-left: 2px;
}
.tdc-missing-external-shortcode span, .td-block-missing-settings span, .tdc_external_shortcode span {
    margin-left: 10px;
    margin-right: 0px;
}
.menu-top-container {
    margin-right: 10px;
    margin-left: 16px;
}
.td_data_time {
    margin-right: 0px;
    margin-left: 32px;
}
.td-header-sp-top-menu .td_ul_logout {
    margin-left: 16px;
	margin-right: 0px;

}
.sf-menu .td-icon-menu-down {
    padding-right: 7px;
	padding-left: 0px;

}
.sf-menu .sub-menu .td-icon-menu-down {
    left: 19px;
	right:auto;
}
a.sf-with-ul i.td-icon-menu-down:before {
    content: '\e807';
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
    right: 12em;
	left:auto;
}
.top-bar-style-2 .menu-top-container, .top-bar-style-2 .top-header-menu li:last-child a {
    margin-left: 0;
}

.td-header-sp-top-widget .td-drop-down-search {
    text-align: right;
}
.td-header-wrap #td-header-search {

    border-right: 1!important;
	border-left: 1!important;

}
.td-header-row [class*="td-header-sp"] {
    float: left;
}

.top-header-menu li {

    margin-right: 0;
}
.td-main-menu-logo {
    float: right;
    margin-left: 10px;
	margin-right: 0;

}
.td-header-style-6 .td-main-menu-logo {
    margin-left: 42px;
	margin-right: 0;

}
.td_block_20 .td-module-comments {
    margin-left: 0;
    left: 20px;
    right:auto;
}
.td_block_big_grid_1 .td-big-grid-post {
    float: right;
}
.td_block_big_grid_1 .td-big-thumb {
    margin-left: 3px;
    margin-right: 0;

}
.td_block_big_grid_2 .td-big-grid-post {
    float: right;
}
.td_block_big_grid_2 .td-big-thumb {
    margin-left: 3px;
    margin-right: 0;

}
.td-big-grid-post .td-meta-info-container {
    margin-right: 14px;
}
.tdb_header_logo .tdb-logo-text-tagline {
    letter-spacing: 0px;

}
.tdb_header_categories .tdb-head-cat-list {
    right: 0;
    left:auto;

}
.td-post-template-8 .td-post-header-holder {
    text-align: right;
}
header .td-post-author-name {
    float: right;
}
header .td-post-date {
    margin-right: 4px;
    margin-left: 0px;

    float: right;
}
.td-post-template-8 .td-post-title .td-post-date {
    margin-left: 22px;
    margin-right: 0px;

}
header .td-post-views {
    float: left;
    margin-left: 22px;
    margin-right: 0px;

}
header .td-icon-views {
    margin-left: 5px;
    margin-right: 0px;

}
header .td-icon-comments {
    margin-left: 5px;
    margin-right: 0px;
}
.tdm_block_list .tdm-list-item i {
    float: right;
}
.tdm-header .header-search-wrap {
    float: left!important;
    margin-right: 15px;
    margin-left: 0px;

}
#td-top-search {
    left: 0;
    right:auto;
}
.td-header-wrap .td-drop-down-search {
    right: 0!important;
    left: auto!important;
}
.tdc-missing-external-shortcode, .td-block-missing-settings, .tdc_external_shortcode {
    text-align: right;
}
.td-block-row [class*="td-block-span"] {
    float: right;
}
.td_module_6 .item-details {
    margin-right: 116px;
    margin-left: 0px;
}
.td_module_10 .item-details {
    margin-right: 244px;
    margin-left: 0px;
}
.td-old-fashioned .td-old-fashioned-breaking .td-column-3 .td_module_19 .td-item-details {
    margin-right: 0;
    margin-left: 564px;
  }
  .td_module_19 .td-module-image {

    right: 0;
    left:auto;
}
.tds_leads .tds-input {
    border-width: 1px 1px 1px 0px!important;
}
.td_module_10 .td-module-thumb {
    right: 0;
left:auto;}
.td_module_11 .item-details {
    margin-right: 350px;
    margin-left: 0px;
}
.td_module_11 .td-module-thumb {
    position: absolute;
    right: 0;
left:auto;}
.tds_my_account .tds-san-item-icon {
    margin-left: 14px;
    margin-right: 0px;

}
.tds_my_account .tds-sau-avatar {
    margin-left: 12px;
    margin-right: 0px;

}
.header-search-wrap {
    left: 0;
    right:auto;
}
.td-header-row [class*="td-header-sp"] {
    float: right;
}
.tdm_block_list .tdm-list-item i {
    float: right;
}
.author-box-wrap .avatar {
    float: right;
}
.author-box-wrap .desc {
    margin-right: 117px;
    margin-left: 0px;
}
header .td-post-comments {
    float: left;
}
.td-post-template-default .td-post-title .td-post-comments {
    margin-right: 22px;
    margin-left: 0px;

}
header .td-post-author-name a {
    margin-right: 0px;
    margin-left: 3px;
}
#cancel-comment-reply-link {
    margin-left: 0px;
    margin-right: 15px;
}
.author-box-wrap .desc {
    margin-right: 0px;
}
.td-footer-instagram-container .td-footer-instagram-title {
    letter-spacing: 0em;
}
.td_module_15.post .td-post-comments {
    float: left;
    margin-right: 22px;}
    .td-icon-right:before {
        content: '\e802';
    }
    .td-header-wrap .td-drop-down-search {
        left: 0!important;
        right: auto!important;
    }
    .td-logo-text-container .td-tagline-text {
        letter-spacing: 0px;
    }
    .td-header-sp-top-widget .td-search-btns-wrap {
        float: right;
    }
    .td-header-row [class*="td-header-sp"] {
        float: right;
    }
    #td-mobile-nav label {
        right: 10px;
        left:auto;
    }
    .td_module_flex_3 .td-module-meta-info, .td_module_flex_4 .td-module-meta-info {
        padding: 0 16px 0 0 ;
    }
    .td_module_6 .td-module-thumb {

        right: 0;
        left:auto;
    }
    .td_module_mx2 .item-details {
        margin: 0 100px 20px 0px;
    }
    .td_module_16 .td-module-thumb {
        right: 0;
        left:auto;

    }
    .td_module_16 .item-details {
        margin-right: 174px;
        margin-left: 0px;

    }
    .td_block_24 .td-column-3 .td-item-details {
        margin-left: 0px;
        margin-right: 564px;
    }
    .td_module_19 .td-item-details {
        margin-right: 294px;
        margin-left: 0px;
    }
    .td_module_6 .td-module-thumb {
        right: 0;
        left:auto;

    }
    .td_module_mx17 .td-module-comments {
        left: 0;
        right:auto;
    }
    .td_block_big_grid_3 .td-big-thumb {
        margin-left: 3px;
        margin-right: 0px;

    }
    .td_block_big_grid_3 .td-big-grid-post {
        float: right;
    }
    .td_block_big_grid_10 .td-big-grid-post {
        float: right;
        padding-left: 2px;
        padding-right: 0px;

    }
    .td_block_big_grid_11 .td-big-grid-post {
        float: right;
        padding-left: 2px;
        padding-right: 0px;

    }
    .td_block_big_grid_12 .td_module_mx5 {
        padding-left: 11px;
        padding-right: 0px;

    }
    .td_block_big_grid_12 .td-big-grid-post {
        float: right;
    }
    .td_block_big_grid_fl_8 .td-big-grid-post {
        float: right;
    }
    .td_block_big_grid_fl_9 .td-big-grid-post {
        float: right;
    }
    .td_block_big_grid_fl_7 .td-big-grid-post {
        float: right;
    }
    .td_block_big_grid_fl_4 .td-big-grid-post {
        float: right;
    }
    .td_block_big_grid_fl_5 .td-big-grid-post {
        float: right;
    }
    .td-post-template-8 .td-post-title .td-post-comments, .td-post-template-8 .td-post-title .td-post-views {
        float: left;

    }
    header .td-post-views {
        float: left;
        margin-right: 22px;
        margin-left: 0px;
    }
    .td_block_slide .td-icon-comments {
        margin-left: 5px;
        margin-right: 0px;

    }
    .td_block_slide .td-post-comments {
        margin-right: 13px;
        margin-left: 0px;

    }


.tdi_253 .td-module-meta-info {
    padding: 0 16px 0 0px;
}
.tdb_header_menu .tdb-menu>li>a .tdb-menu-item-text, .tdb_header_menu .tdb-menu>li>a span {
    vertical-align: middle;
    float: right !important;
}
.tdi_57 {
    display: inline-block;
    float: left !important;
    clear: none;
}
.td_block_template_14 .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option, .td_block_template_14 .td-block-title-wrap .td-wrapper-pulldown-filter .td-pulldown-filter-display-option i {
    height: 100%;
    display: inline-block !important;
}
.td_social_type .td_social_button {
    float: left !important;
}
.td_block_social_counter.td-social-style4 .td_social_type .td-sp {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: unset;
}
.td-scroll-up .td-icon-menu-up {
    text-align: right;
}
[class*="td-icon-"] {
    margin-right: 12px!important;
    margin-left: 0 !important;
    line-height: 1;
    text-align: center;
    display: inline-block;
}
.tdm_block.tdm_block_socials {
    margin-bottom: 0;
    float: left;
}
.tdb_header_menu .tdb-menu>li>a .tdb-sub-menu-icon {
    margin: 0 7px 0 0px !important;
}

.tdi_57 .tdb-head-search-form-btn-icon {
    margin-right: 12px !important;
    top: 0px;
    margin-left: unset !important;
}

.td_block_template_2 .td-block-title {
    text-align: right !important;
}
.wp-block-image figcaption {
    text-align: right;
}

.td-social-share-text:before, .td-social-share-text:after {
    content: '';
    position: absolute;
    top: 30% !important;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 100% !important;
	left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    transform: scaleX(-1) !important;
}

.td-social-share-text {
    margin-left: 18px !important;
	margin-right:0!important;
}

.td-social-handler .td-social-but-text:before {
     background-color: #FFF !important; 
    opacity: 0.08;
}
.td-social-but-text {
    margin-left: -6px !important;
    padding-right: 12px !important;
    padding-left: 17px !important;
    padding-right: 0 !important;

}

.tdi_88 .tdb-author-info {
    padding-right: 21px !important;
	padding-left:0 !important;
}

.tdb-next-post {
    float: right !important;
}

.tdb-post-prev {
    margin-left: 2% !important;
	margin-right:0 !important;
}
@media (min-width: 767px) {
    .tdi_70 .tdb-author-photo {
        padding-left: 21px !important;
		padding-right:0 !important;
    }
}

.tds_my_account .tds-s-subscr-remaining-posts .tds-s-btn .tds-s-subscr-rp-count, .tds_my_account .tds-s-subscr-remaining-credits .tds-s-btn .tds-s-subscr-rp-count {
    margin-right: .769em !important;
    margin-left: 0 !important;
}

.tdi_61 .td_block_wrap {
    text-align: right !important;
}

body .tds-s-form .tds-s-form-tip {
    left: 0 !important;
	right: auto !important;
}

@media (min-width: 1019px) {
    .tds-s-table-col:not(:last-child):not(.tds-s-table-col-expand) {
        padding-left: 15px !important;
    }
}

table th {
    text-align: right;
}

.tds_create_account .tds-s-form-login .tds-s-form-group:nth-child(2) .tds-s-form-label a {
    margin-right: auto !important;
    margin-left: 0 !important;
}
.td-module-comments a:after {
    right: 0;
    border-width: 4px 0px 0 3px;
    left: auto;
}
button.wpb_button.wpb_btn-inverse.btn.tdb-head-search-form-btn {
    font-family: 'iranyekan' !important;
}
input.tdb-head-search-form-input {
    font-family: 'iranyekan' !important;
}
.result-msg.no-result{
    font-family: 'iranyekan' !important;
}
a.tds-button1.tdm-btn.tdm-btn-md.tdi_68{
    font-family: 'iranyekan' !important;
}
.tdm-title{
    font-family: 'iranyekan' !important;
}
p.tdm-descr{
    font-family: 'iranyekan' !important;
}
.tdb-head-search-form-input{
    font-family: 'iranyekan' !important;
}
.td-icon-left:before {
    content: '\e802';
    margin-right: 12px !important;
    margin-left: 0 !important;
}
.td-icon-views:before{
    margin-right: 12px !important;
    margin-left: 0 !important;
}

a.td-services-link {
    margin: 25px 20px 0 0px !important;
}